@import url("bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');






header .banner{
    position: relative;
}


header .banner .banner-food{
    position: absolute;
    bottom: 1rem;
    left: 27rem;
}

header .navbar .navbar-brand{
    font-family: 'Russo One', sans-serif;
    color: green;
    font-size: 1.5rem;
}



header .navbar .navbar-nav .nav-item .nav-link{
    font-size: 1rem;
    color: green;
}
header .navbar .navbar-nav .nav-item .nav-link:hover{

    background-color: green;
    color: #fff;
}

header .navbar .navbar-nav .nav-item{
    margin-right: 1rem;
}

section{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

section h2{
    color: green;
    margin-bottom: 3rem;
}

.feedback .card{
    border: none;
}

.feedback .card .feedback-rate{
    width: 6rem;
    height: 6rem;
    background-color: green;
    border-radius: 100%;
    position: relative;
    margin: auto;
}
.feedback .card .feedback-rate span{
    display: block;
    position: absolute;
    top: 35%;
    left: 35%;
    font-size: 1.2rem;
    color: #fff;
}

.about-company h2{
    margin-bottom: 1.5rem;
}
.about-company h3{
   color: green;
}
.about-company p{
  text-align: justify;
}

.about-company .our-company{
    margin-left: 2.5rem;
}

.contact .contact-number{
    margin-left: 7rem;
}
.date-time{
    font-size: 1.5rem;
    color: green;
}

footer{
    background-color: green;
    color: #fff;
}


@media (max-width: 320.99px) {

}

@media (min-width: 321px) and (max-width: 449.99px) {

}
@media (min-width: 450px) and (max-width: 576.99px) {}

@media (min-width: 577px) and (max-width: 768.99px) {
}

@media (min-width: 769px) and (max-width: 969.99px) {

}
