h1{
    text-align: center;
}

ul{

    margin: auto;
    list-style-type: none;
    background-color: #17c217;
    padding: 20px 20px 20px 60px;
}

ul li{
    display: inline-block;
    margin-right: 20px;
}

ul li img{
    border: 3px solid red;
    border-radius: 100%;
}

ul:hover{
    background-color: red;

}

